<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full Stack Web Development</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="row">
      	<div class="col-lg-12">
          <a href="../index.html"><img class="logo jumbotron img-responsive" src="../images/udacity_FSWD_ND_logo.png"
               alt="udacity logo"></a>
      	</div>
      </header>

      <div class="return">
        <div class="row">
          <div class="col-md-12">
            <a href="../ec.html">
              <span class="glyphicon glyphicon-circle-arrow-left"
              style="font-size:3rem;"></span></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="lesson-title">
            <h1> Career: Full Stack Interview Practice </h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="horizontal-line">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="lesson">
          <h4><a href="../lessons/ec_three/Ace_Your_Interview.html"> 1. Ace Your Interview </a></h4>
          <h4><a href="../lessons/ec_three/Practice_Behavioral_Questions.html"> 2. Practice Behavioral Questions </a></h4>
          <h4><a href="../lessons/ec_three/Interview_Fails.html"> 3. Interview Fails </a></h4>
          <h4><a href="../lessons/ec_three/Land_a_Job_Offer.html"> 4. Land a Job Offer </a></h4>
          <h4><a href="../lessons/ec_three/Full_Stack_Mock_Interview.html"> 5. Full Stack Mock Interview </a></h4>
          <h4><a href="../lessons/ec_three/Introduction_and_Efficiency.html"> 6. Introduction and Efficiency </a></h4>
          <h4><a href="../lessons/ec_three/List_Based_Collections.html"> 7. List-Based Collections </a></h4>
          <h4><a href="../lessons/ec_three/Searching_and_Sorting.html"> 8. Searching and Sorting </a></h4>
          <h4><a href="../lessons/ec_three/Maps_and_Hashing.html"> 9. Maps and Hashing </a></h4>
          <h4><a href="../lessons/ec_three/Trees.html"> 10. Trees </a></h4>
          <h4><a href="../lessons/ec_three/Graphs.html"> 11. Graphs </a></h4>
          <h4><a href="../lessons/ec_three/Case_Studies_in_Algorithms.html"> 12. Case Studies in Algorithms </a></h4>
          <h4><a href="../lessons/ec_three/Technical_Interviewing_Techniques.html"> 13. Technical Interviewing Techniques </a></h4>
          <h4><a href="../lessons/ec_three/Technical_Interview_Python.html"> P. Technical Interview - Python </a></h4>
          <br>
          </div>

        </div>
      </div>

      <!-- <footer class="footer">
        <div class="row col-md-12">
            <p><span class="glyphicon glyphicon-chevron-left"></span>
               <span class="glyphicon glyphicon-chevron-right"></span> with
               <span class="glyphicon glyphicon-heart"></span> by Kenny Iraheta
            </p>
        </div>
      </footer> -->

    </div>
  </body>
</html>
