<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full Stack Web Development</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="row">
      	<div class="col-lg-12">
          <a href="../index.html"><img class="logo jumbotron img-responsive" src="../images/udacity_FSWD_ND_logo.png"
               alt="udacity logo"></a>
      	</div>
      </header>

      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1> Programming Fundamentals and the Web </h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="horizontal-line">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="lessons">
            <h4><a href="../lessons/one/Welcome.html"> 1. Welcome </a></h4>
            <h4><a href="../lessons/one/Career_Services_Available_to_You.html"> 2. Career Services Available to You  </a></h4>
            <h4><a href="../lessons/one/Nanodegree_Orientation.html"> 3. Nanodegree Orientation </a></h4>
            <h4><a href="../lessons/one/Introductions.html"> 4. Introductions </a></h4>
            <h4><a href="../lessons/one/"> 5. Use Functions </a></h4>
            <h4><a href="../lessons/one/"> 6. Use classes: Draw Turtles </a></h4>
            <h4><a href="../lessons/one/"> 7. Use classes: Send Text </a></h4>
            <h4><a href="../lessons/one/"> 8. Use classes: Profanity Editor </a></h4>
            <h4><a href="../lessons/one/"> 9. Make classes: Movie Website </a></h4>
            <h4><a href="../lessons/one/"> 10. Make classes: Advanced Topics </a></h4>
            <h4><a href="../lessons/one/"> P. Movie Trailer Website  </a></h4>
            <h4><a href="../lessons/one/"> 12. HTML Syntax  </a></h4>
            <h4><a href="../lessons/one/"> 13. CSS Syntax </a></h4>
            <h4><a href="../lessons/one/"> 14. Sizing </a></h4>
            <h4><a href="../lessons/one/"> 15. Positioning </a></h4>
            <h4><a href="../lessons/one/"> 16. Floats </a></h4>
            <h4><a href="../lessons/one/"> 17. Why Responsive? </a></h4>
            <h4><a href="../lessons/one/"> 18. Starting Small </a></h4>
            <h4><a href="../lessons/one/"> 19. Building Up </a></h4>
            <h4><a href="../lessons/one/"> P. Build a Portfolio Site </a></h4>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="row col-md-12">
            <p><span class="glyphicon glyphicon-chevron-left"></span>
               <span class="glyphicon glyphicon-chevron-right"></span> with
               <span class="glyphicon glyphicon-heart"></span> by Kenny Iraheta
            </p>
        </div>
      </footer>

    </div>
  </body>
</html>
