<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full Stack Web Development</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="row">
      	<div class="col-lg-12">
          <a href="../index.html"><img class="logo jumbotron img-responsive" src="../images/udacity_FSWD_ND_logo.png"
               alt="udacity logo"></a>
      	</div>
      </header>

      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1> The Backend: Databases and Applications </h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="lessons">
            <h4><a href="../lessons/Data_and_Tables.html"> 1. Data and Tables </a></h4>
            <h4><a href=""> 2. Elements of SQL </a></h4>
            <h4><a href=""> 3. Python DB-API </a></h4>
            <h4><a href=""> 4. Deeper Into SQL </a></h4>
            <h4><a href=""> 5. Logs Analysis </a></h4>
            <h4><a href=""> 6. Working with CRUD </a></h4>
            <h4><a href=""> 7. Problem Set 1 </a></h4>
            <h4><a href=""> 8. Making a Web Server </a></h4>
            <h4><a href=""> 9. Developing with Frameworks </a></h4>
            <h4><a href="../lessons/Iterative_Development.html"> 10. Iterative Development </a></h4>
            <h4><a href="../lessons/Authentication_vs_Authorization.html"> 11. Authentication vs Authorization </a></h4>
            <h4><a href="../lessons/Creating_Google_Sign_in.html"> 12. Creating Google Sign In </a></h4>
            <h4><a href="../lessons/Local_Permission_System.html"> 13. Local Permission System </a></h4>
            <h4><a href="../lessons/Adding_FB.html"> 14. Adding Facebook and other providers </a></h4>
            <h4><a href="../lessons/Whats_and_Whys_of_APIs.html"> 15. What's and Why's of APIs </a></h4>
            <h4><a href="../lessons/Accessing_Published_APIs.html"> 16. Accessing Published APIs </a></h4>
            <h4><a href="../lessons/Creating_Your_Own_API_Endpoints.html"> 17. Creating your own API Endpoints </a></h4>
            <h4><a href="../lessons/Securing_your_API.html"> 18. Securing your API </a></h4>
            <h4><a href="../lessons/Writing_Developer_Friendly_APIs.html"> 19. Writing Developer-Friendly APIs </a></h4>
            <h4><a href="../lessons/Build_An_Item_Catalog.html"> P. Build an Item Catalog </a></h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="horizontal-line">
        </div>
      </div>

      <!-- <footer class="footer">
        <div class="row col-md-12">
            <p><span class="glyphicon glyphicon-chevron-left"></span>
               <span class="glyphicon glyphicon-chevron-right"></span> with
               <span class="glyphicon glyphicon-heart"></span> by Kenny Iraheta
            </p>
        </div>
      </footer> -->

    </div>
  </body>
</html>
