<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full Stack Web Development</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="row">
      	<div class="col-lg-12">
          <a href="../index.html"><img class="logo jumbotron img-responsive" src="../images/udacity_FSWD_ND_logo.png"
               alt="udacity logo"></a>
      	</div>
      </header>

      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h1> Developer's Tools  </h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="horizontal-line">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="lessons">
            <h4><a href="../lessons/two/Shell_Workshop.html"> 1. Shell Workshop </a></h4>
            <h4><a href="../lessons/two/What_is_Version_Control.html"> 2. What is Version Control? </a></h4>
            <h4><a href="../lessons/two/Create_a_Git_Repo.html"> 3. Create a Git Repo </a></h4>
            <h4><a href="../lessons/two/Review_a_Repos_History.html"> 4. Review a Repo's History </a></h4>
            <h4><a href="../lessons/two/Add_Commits_to_Repo.html"> 5. Add Commits to Repo </a></h4>
            <h4><a href="../lessons/two/Tagging_Branching_and_Merging.html"> 6. Tagging, Branching and Merging </a></h4>
            <h4><a href="../lessons/two/Undoing_Changes.html"> 7. Undoing Changes </a></h4>
            <h4><a href="../lessons/two/Working_with_Remotes.html"> 8. Working with Remotes </a></h4>
            <h4><a href="../lessons/two/Working_on_Another_Developers_Repo.html"> 9. Working on Another Developer's Repo </a></h4>
            <h4><a href="../lessons/two/Staying_in_Sync_With_a_Remote_Repo.html"> 10. Staying in Sync With a Remote Repo </a></h4>
            <h4><a href="../lessons/two/Requests_&_Responses.html"> 11. Requests & Responses </a></h4>
            <h4><a href="../lessons/two/"> 12. The Web from Python </a></h4>
            <h4><a href="../lessons/two/"> 13. HTTP in the Real World </a></h4>

          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="row col-md-12">
            <p><span class="glyphicon glyphicon-chevron-left"></span>
               <span class="glyphicon glyphicon-chevron-right"></span> with
               <span class="glyphicon glyphicon-heart"></span> by Kenny Iraheta
            </p>
        </div>
      </footer>

    </div>
  </body>
</html>
